<ion-view view-title="Account">
	<ion-nav-buttons side="left" >
    <button class="button back-button buttons button-clear header-item" ng-click="back()">
      <i class="icon ion-ios-arrow-back"> Back</i> 
    </button>
  </ion-nav-buttons>
  <ion-content class="padding center">
	  Change Username
	  <ion-list>
	    <div class="list list-inset">
	      <label class="item item-input">
	        <span class="input-label">New username</span>
	        <input type="text" ng-model="accountData.username">
	      </label>
	      <label class="item item-input">
	        <span class="input-label">Password</span>
	        <input type="password" ng-model="accountData.password">
	      </label>
	    </div>
	  </ion-list>
	  <br>

	  Change Password
	  <ion-list>
	    <div class="list list-inset">
	      <label class="item item-input">
	        <span class="input-label">Old Password</span>
	        <input type="password" ng-model="accountData.oldPassword">
	      </label>
	      <label class="item item-input">
	        <span class="input-label">New Password</span>
	        <input type="password" ng-model="accountData.newPassword">
	      </label>
	      <label class="item item-input">
	        <span class="input-label">Re-enter<br>New Password</span>
	        <input type="password" ng-model="accountData.newPassword2">
	      </label>
	    </div>
	   </ion-list>
		<br>

		 <button class="button button-block button-positive" ng-click="dataChange()">Save</button>
   </ion-content>
</ion-view>